* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Akaya Telivigala", monospace, sans-serif;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 90vh;
  width: 100%;
  text-align: center;
  background-color: #e3e3e3;
  padding: 5px 0;
  scrollbar-width: thin;
  scrollbar-color: #56cbdb #262834;
}
h1.title {
  color: #262834;
  font-size: 22px;
  padding: 8px;
  margin: 0;
}
.container {
  width: 96%;
  margin: 0 auto;
  background-color: #080808;
  padding: 10px 5px 5px 5px;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(60px, auto);
}
.btns button {
  padding: 8px;
  margin: 5px;
  background-color: #262834;
  color: #e3e3e3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-weight: 500;
  font-family: "Akaya Telivigala", monospace, sans-serif;
  font-size: 22px;
  transition: background-color 0.3s, color 0.3s;
}
.btns button.btn {
  background-color: #56cbdb;
  color: #262834;
  font-weight: bold;
}
.btns button:first-of-type {
  grid-column: 1;
  grid-row: 1;
}
.btns button:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.btns button:last-of-type {
  grid-column: 3;
}

textarea {
  width: calc(100% - 10px);
  height: calc(100vh - 150px);
  border: none;
  outline: none;
  background-color: #121212;
  resize: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: #e3e3e3;
  padding: 5px;
  margin: 5px 5px 0px 5px;
  letter-spacing: 0.2px;
  font-family: monospace, sans-serif;
  font-size: 20px;
}

.preview-content,
.docs {
  font-family: Arial, Helvetica, sans-serif;
  color: #e3e3e3;
  background-color: #262834;
  height: calc(100vh - 150px);
  text-align: left;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  overflow-y: scroll;
  line-height: 1.5;
}

.preview-content,
.docs > * {
  margin-bottom: 0.2em;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #56cbdb;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #262834;
  border-radius: 5px;
}

::-webkit-scrollbar-button {
  display: none;
}

.example {
  border-radius: 5px;
  background-color: #121212;
  border: 1px solid #3e3e3e;
  padding: 20px;
  margin-block: 15px;
  word-wrap: break-word;
}

pre {
  border-radius: 5px;
  background-color: #262834;
  margin-block: 10px;
  padding: 10px;
  overflow-x: scroll;
}
